<h1>Listagem de Perguntas</h1>

<table>

	<tr>
		<th>Pergunta</th>
		
		<th>Açoes</th>
	</tr>

	<% for (i = 0; i< perguntas.length; i++) { %>

	<tr>
		<td><%= perguntas[i].perguntas %> </td>
		
		<td>
			<a href="/perguntas/edit/<%= perguntas[i].id %>">Editar</a>
			<a href="/perguntas/edit/<%= perguntas[i].id %>"
				onclick="return confirm('Deseja realmente excluir?')">
			Remover</a>
		</td>
	</tr>
	<% } %>

</table>