<!--
Este é o arquivo
./views/pages/peguntas/login.ejs
-->
<!DOCTYPE html>

    <head>  
        <title>Usuário</title>
       
    </head>
    <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="telaInicial">Inicio</a>
          <a class="btn btn-outline-info" href="login">Usuário</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header> 
    <body>  
      <center>  <div id="usuario">
            <h1 id="nomet">Informe seu Nome</h1>
            <form action="/perguntas/saveu" method="POST">
                <input type="text" name="nome" id="nome" maxlength="100" placeholder="Nome de Usário"/>
                <br><br>
               <a src="telaInicial.html" > <input type="submit" value="Entrar"/> </a>
            </form> </center>
            
            
        </div>
   </body>
</html>  
