<!--
Este é o arquivo
./views/pages/peguntas/login.ejs
-->
<!DOCTYPE html>

    <head>  
        <title>Usuário</title>
       
    </head>
    <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
   <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header> 
    <body>  
      <center>  <div id="usuario">
            <img src="../imagens/login.png" class="bt_login" />

            <form action="/perguntas/saveu" method="POST">
                <input type="text" name="nome" id="nome" maxlength="100" placeholder="Nome de Usário"/>
                <br><br>
               <a src="telaInicial.html" > <input type="image" src="../imagens/Iniciar.png" class="bt_iniciar"/> </a>
            </form> </center>
            
            
        </div>
   </body>
</html>  
