  <!DOCTYPE html>

    <head>  
        <title>Usuário</title>
       
    </head> 
   <body id="inic">
    <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
        
    <center>  <div id="inicio">
            
             <form action="login">
               
                 <input type="image" name="tEnviar" src="../imagens/logo.jpg" class="logo" id="logo" placeholder="logo"/>&nbsp;&nbsp;&nbsp;
                 
            </form> 
             
            
            
        </div></center>>

     
    </body>
</html>  
