!--
Este é o arquivo
./views/pages/perguntas/new.ejs
-->
<h1>Nova Pergunta</h1>
<form action="/pergunta/save" method="POST">
  <input type="text" name="pergunta"
    placeholder="Digite a pergunta" />
  <br/>
  <input type="text" name="alternativas"
    placeholder="Digite o sobrenome" />
  <br/>
  
  <input type="submit" value="Salvar"/>
</form>
