!--
Este é o arquivo
./views/pages/perguntas/new.ejs
-->
<h1>Nova Pergunta</h1>
<form action="/pergunta/save" method="POST">
  <input type="text" name="pergunta"
    placeholder="Digite a pergunta" />
  <br/>
  <input type="text" name="alternativaA"
    placeholder="Digite a alternativa A" />
  <br/>
  <input type="text" name="alternativaB"
    placeholder="Digite a alternativa B" />
  <br/>
  <input type="text" name="alternativaC"
    placeholder="Digite a alternativa C" />
  <br/>
  <input type="text" name="alternativaD"
    placeholder="Digite a alternativa D" />
  <br/>
  
  <input type="submit" value="Salvar"/>
</form>
