<!--
Este é o arquivo
./views/pages/peguntas/new.ejs
-->
<h1>Nova Perguntas a ser cadastrada</h1>
<form action="/perguntas/save" method="POST">
  <input type="text" name="Perguntas"
    placeholder="Digite a Perguntas" />
  <br/>
  <input type="text" name="alternativaA"
    placeholder="Digite a alternativa A" />
  <br/>
  <input type="text" name="alternativaB"
    placeholder="Digite a alternativa B" />
  <br/>
  <input type="text" name="alternativaC"
    placeholder="Digite a alternativa C" />
  <br/>
  <input type="text" name="alternativaD"
    placeholder="Digite a alternativa D" />
  <br/>
  <input type="text" name="resposta" placeholder="informe alternativa correta"/>
  
  <input type="submit" value="Salvar"/>
</form>

