<!--
Este é o arquivo
./views/pages/perguntas/index.ejs
-->
<center>
<h1>Listagem de Perguntas</h1>
<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
  <tr>
    <th>Nome</th>

  </tr>
  <% for (i = 0; i<perguntas.length; i++) { %>
  <tr>
    <td><%= usuario.nome[perguntas[i]] %> </td> 
    
    
      
  </tr>
  <% } %>
</table>
 <a href="/perguntas/login/">Inserir outro nome</a>
</center>