<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Temas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="styles/estilo.css"/>
    </head>
    <body>
        <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="telaInicial">Inicio</a>
          <a class="btn btn-outline-info" href="login">Usuário</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
     <center>   <div id="opcoes" >
             <h1> Opções de Conteúdos </h1>
             <a href="regiaoNorteEstados"><img src="../imagens/estados.png" class="bt"/></a>
             <a href="regiaoNorteVegetacao"><img src="../imagens/vegetacao.png" class="bt"/></a><br><br>
             <a href="regiaoNorteRelevo"><img src="../imagens/relevo.png" class="bt"/></a>
             <a href="regiaoNorteClima"><img src="../imagens/clima.png" class="bt"/></a>
             
             
         </div></center>
    </body>
</html>
