<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Vegetação Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="nortevegetacao">
          <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
   <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>
    
</header>
       <center><div id="nor" class="rolagem">
               <h1>Vegetação Região Norte</h1>
             </br>
        <p>Na Região Norte está localizado um importante ecossistema para o planeta: a Amazônia. Além da Amazônia, a região apresenta uma pequena faixa de mangue (no litoral) e alguns pontos de cerrado, e também alguns pontos de matas galerias.</p>

        <p>Aprender as características físicas de uma região depende, em grande parte, da capacidade de dedução e observação: na Região Norte, a latitude e o relevo explicam a temperatura; a temperatura e os ventos explicam a umidade e o volume dos rios; e o clima e a umidade, somados, são responsáveis pela existência da mais extensa, variada e densa floresta do planeta, ou seja, a Floresta Amazônica ou Hileia.</p>

        <p>A Ilha de Marajó, no estado do Pará, apresenta formações rasteiras de Campos da Hileia que, por sua vez, ficam inundadas nos períodos de cheias dos rios. É a maior ilha de água fluviomarinha do mundo. Grandes extensões de cerrado podem ser encontradas nos estados de Rondônia, Tocantins e Roraima.</p>

        <p>Equivalendo a mais de um terço das reservas florestais do mundo, é uma formação tipicamente higrófila, com o predomínio de árvores grandes e largas (espécies latifoliadas), muito próximas umas das outras e entrelaçadas por grande variedade de lianas (cipós lenhosos) e epífitas (vegetais que se apoiam em outros). O clima da região, quente e chuvoso, permite o crescimento das espécies vegetais e a reprodução das espécies animais durante o ano todo. Isso faz com que a Amazônia tenha a flora mais variada do planeta, além de uma fauna muito rica em pássaros, peixes e insetos.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s1jQnc9nGhs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src=""/>
        <figcaption class="legenda">Rio Amazonas, o maior rio do mundo</figcaption>
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
