 <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Estados Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
      <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
    <body id="nortees">
       <center><div id="nor" class="rolagem">
               <h1>Estados Região Norte</h1>
               <p>Acre – Rio Branco</p>
               <p>Amapá – Macapá</p>
               <p>Amazonas – Manaus</p>
               <p>Pará – Belém</p>
               <p>Rondônia – Porto Velho</p>
               <p>Roraima – Boa Vista</p>
               <p>Tocantins – Palmas</p>  
       
        <img src="../imagens/rio-amazonas.jpg"/>
        <figcaption class="legenda">Rio Amazonas, o maior rio do mundo</figcaption>
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
