<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Clima Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="norteClima">
          <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
   <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
       <center><div id="nor" class="rolagem">
               <h1>Clima Região Norte</h1>
             </br>
        <p>Algumas latitudes podem criar uma região com climas quentes e úmidos. A existência de calor e da enorme massa líquida favorecem a evaporação e fazem da Região Norte uma área bastante úmida. Dominada assim por um clima do tipo equatorial, a região apresenta temperaturas elevadas o ano todo (médias de 24°C a 26°C), uma baixa amplitude térmica, com exceção de algumas áreas de Rondônia e do Acre, onde ocorre o fenômeno da friagem, em virtude da atuação do La Niña, permitindo que massas de ar frio vindas do oceano Atlântico Sul penetrem nos estados da região Sul, entrem por Mato Grosso e atinjam os estados amazônicos, diminuindo a temperatura. Isto ocorre porque o calor da Amazônia propicia uma área de baixa latitude que atrai massas de ar polar. Ocorrendo no inverno, o efeito da friagem dura uma semana ou pouco mais, quando a temperatura chega a descer a 6°C em Vilhena (RO), 12°C em Porto Velho (RO), 13°C Eirunepé (AM) e até 9°C em Rio Branco (AC).

        </p>
        <p>O regime de chuvas na região é bem marcado, havendo um período seco, de junho a novembro, e outro com grande volume de precipitação, Dezembro a Maio. As chuvas provocam mais de 2.000 mm de precipitação anuais, havendo trechos com mais de 3.000 mm, como o litoral do Amapá, a foz do rio Amazonas e porções da Amazônia Ocidental.</p>
        <p>A Região Norte apresenta o clima mais úmido do Brasil, sendo comum a ocorrência de fortes chuvas. São características da região. As chuvas de convecção ou de "hora certa", que em geral ocorrem no final da tarde e se formam da seguinte maneira: com o nascer do Sol, a temperatura começa a subir, ou seja, aumentar em toda a região, aquecimento que provoca a evaporação; o vapor de água no ar se eleva, formando grandes nuvens; com a diminuição da temperatura, causada pelo passar das horas do dia, esse vapor de água se precipita, caracterizando as chuvas de "hora certa".</p>
        
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
