<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Relvo Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="norte">
        <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>
    
</header>
       <center><div id="nor"  class="rolagem">
               <h1>Relevo Região Norte</h1>
             </br>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/4EKjbk9HtvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                 <a href="regiaoNorteRelevo"><input type="image" name="e" src="../imagens/voltar.png" class="bt_voltar"/></a>
        <a href="regiaoNorteRelevo2"><input type="image" name="e" src="../imagens/avancar.png" class="bt_mudar"/></a>

           </div></center>
    </body>
</html>