<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Vegetação Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="nortevegetacao">
          <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="telaInicial">Inicio</a>
          <a class="btn btn-outline-info" href="login">Usuário</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
       <center><div id="nor" class="rolagem">
               <h1>Vegetação Região Norte</h1>
        <p>Na Região Norte localiza-se o maior ecossistema do mundo: a Floresta
            Amazônica.</p>
        <p>A Amazônia equivale a mais de um terço das reservas florestais do mundo, tendo
            como principais características as árvores grandes e largas (espécies latifoliadas), próximas 
            umas das outras e unidas por cipós e epífitas (vegetais que se apóiam</p>
        <p>De acordo com o local, a Floresta Amazônica apresenta algumas variações:
            próximo aos rios, local de inundação permanente, a vegetação é mais baixa e
            chamada de mata de igapó; nas denominadas matas de várzea, onde a inundação
            não é permanente, começam a aparecer árvores mais altas.</p>
        <img src="../imagens/rio-amazonas.jpg"/>
        <figcaption class="legenda">Rio Amazonas, o maior rio do mundo</figcaption>
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
