<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Clima Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="norteClima">
          <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="telaInicial">Inicio</a>
          <a class="btn btn-outline-info" href="login">Usuário</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
       <center><div id="nor" class="rolagem">
               <h1>Clima Região Norte</h1>
        <p>A Região Norte possui clima equatorial. Bastante úmido, as temperaturas são
            elevadas durante todo o ano, com baixa amplitude térmica, exceto em alguns
            lugares de Roraima e Acre, devido à ocorrência do fenômeno “La Niña”, que
            permelevadas durante todo o ano, com baixa amplitude térmica, exceto em alguns
            ite que massas de ar frio, vindas do oceano Atlântico, entrem na região pelo
            Mato Grosso, abaixando a temperatura.
        </p>
        <img src="../imagens/rio-amazonas.jpg"/>
        <figcaption class="legenda">Rio Amazonas, o maior rio do mundo</figcaption>
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
