<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Relvo Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
    <body id="norte">
          <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
       <center><div id="nor"  class="rolagem">
               <h1>Relevo Região Norte</h1>
        
        <p>A região norte abriga um grande potencial hídrico com a presença da Bacia do Amazonas, as águas que escoam sobre a mesma represent
            am 20% de toda água doce proveniente de rios do mundo. </p>
        <p>
            O Amazonas é o maior rio do mundo, em extensão (6.571 km) e em volume (média de 180.000 m3/s), isso se deve pelo elevado índice p
            luviométrico da região e aos 7 mil afluentes. O rio Amazonas possui cerca de 5 km de largura e pode atingir até 100 metros de pro
            fundidade.
        </p>
        <img src="../imagens/rio-amazonas.jpg"/>
        <figcaption class="legenda">Rio Amazonas, o maior rio do mundo</figcaption>
        <br><br>
        <a href="questionario"><img src="../imagens/bt-questionario.png"/></a>
           </div></center>
    </body>
</html>
