 <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Estados Região Norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/estilo.css"/>
    </head>
      <header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>
    <body id="nortees">
       <center><div id="nor" class="rolagem">
               <h1>Estados Região Norte</h1>
             </br>
               <p>A Região Norte é composta pelos estados de Roraima, Acre, Amapá, Amazonas, Pará, Rondônia e Tocantins. Está localizada entre o maciço das Guianas, ao norte; o Planalto Central, ao sul; a cordilheira dos Andes, a oeste; e o oceano Atlântico, a noroeste. Sua extensão territorial é de 3.853.397,2 km², sendo a maior região do Brasil, corresponde a aproximadamente 42% do território nacional. Possui uma população de cerca de 15,8 milhões de habitantes.</p>
               <p>A região Norte do Brasil é uma das cinco regiões brasileiras segundo a divisão elaborada pelo Instituto Brasileiro de Geografia e Estatística (IBGE). Sua principal característica é o fato de ser a maior região do país em área territorial, com 3.869.638 km², abrigando também os dois maiores estados do Brasil, respectivamente, Amazonas e Pará. Além desses, a região conta com mais cinco estados: Acre, Amapá, Rondônia, Roraima e Tocantins.</p>
               <p>Apesar de ser a maior região, o Norte brasileiro também possui uma das menores populações absolutas e, consequentemente, as menores densidades demográficas. Observa-se, em muitos casos, a evidência de alguns “vazios demográficos”, em que a quantidade de habitantes por área é muito reduzida ou praticamente nula.</p>

               <p>Ao todo, são pouco mais do que 15,5 milhões de pessoas vivendo na região Norte, com o estado do Pará sendo o mais povoado, com quase oito milhões de habitantes. Roraima, por outro lado, é a unidade federativa do Brasil com o menor número de pessoas, com uma população de 488 mil residentes. Todos esses dados citados são referentes às estimativas do IBGE para o ano de 2013.</p>
                 
       
        
        <figcaption class="legenda"></figcaption>
        <br><br>
        <img src="../imagens/bt-questionario.png"/>
           </div></center>
    </body>
</html>
