
<header id="cabecalho"  class="navbar-nav flex-row" >
	<a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
	
	<center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

	
</header>
  <div id="questionario" class="rolagem" >
<h1>Resultado</h1>
<center>
<h1>Ricardo de Souza</h1>

<h1>acertos: 2</h1>

<h1>erros: 1</h1>
</center>
</br>
<h3>1.Quais as três unidades básicas de relevo da Região Norte? Selecione a alternativa correta:<h2>
<h5>A:Planalto, expressão e cerrado.<h4>
<h5 id="certo">B:Planície, depressão e planalto.<h4>
<h5>C:Planalto, cerrado e caatinga.<h4>
<h5>A:D:Planalto, caatinga e cerrado.<h4>
</br>
<h3>2.O Ponto mais alto do país que está localizado na Região Norte denomina-se? Selecione a alternativa correta:<h2>
<h5> A:Pico da Corvina<h4>
<h5>B:Morro do Sapo. <h4>
<h5>C:Monte Roraima.<h4>
<h5 id="certo">D:Pico da Neblina.<h4>
</br>
<h3>3.O maior rio do mundo está situado na Região Norte. Qual é esse rio? Selecione a alternativa correta:<h2>
<h5>A:Rio Sucupira.<h4>
<h5> B:Rio Andirá. <h4>
<h5 id="certo">C:Rio Amazonas. <h4>
<h5>D:Rio Araguaia. <h4>
  

 </div>
