<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Região</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="styles/estilo.css"/>
    </head>
    <body id="regiao">
<header id="cabecalho"  class="navbar-nav flex-row" >
    <a class="navbar-brand mr-0" href="logo" id="nomec">INTERATIVEGEO</a>
    
    <center><a class="btn btn-outline-info" href="login">Inicio</a>
          <a class="btn btn-outline-info" href="telaInicial">Regiões</a>
         <a class="btn btn-outline-info" href="opcaoEstudo">Conteúdos</a> </center>

    
</header>

<center> <div id="opcoes">
             <h1> Selecione Uma Região</h1>
             <form action="opcaoEstudo" id="esf">
               
                 <input type="image" name="tEnviar" src="../imagens/mapa.png" class="bt_conteudos" />;
                 
                 <input type="image" name="tEnviar" src="../imagens/mapanordeste.png" class="bt_conteud,os"/>
                   
                 <input type="image" name="tEnviar" src="../imagens/mapacentro.png" class="bt_conteudos"/>
                 
                 <input type="image" name="tEnviar" src="../imagens/mapasudeste.png" class="bt_conteudos"/>
                  
                 <input type="image" name="tEnviar" src="../imagens/mapasul.png" class="bt_conteudos"/>
            </form> 
         </div></center>
    </body>
</html>
