<!--
Este é o arquivo
./views/pages/pessoa/index.ejs
-->
<h1>Listagem de usuarios</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Ações</th>
  </tr>
  <% for (i = 0; i< pessoas.length; i++) { %>
  <tr>
    <td><%= pessoas[i].nome %> </td>
    <td>
      <a href="/pessoa/edit/<%= pessoas[i].id %>">Editar</a>
      <a href="/pessoa/delete/<%= pessoas[i].id %>" 
          onclick="return confirm('Deseja realmente excluir?')">
      Remover</a>
    </td>
  </tr>
  <% } %>
</table>
