!--
Este é o arquivo
./views/pages/pessoa/new.ejs
-->
<h1>Nova Pessoa</h1>
<form action="/pessoa/save" method="POST">
  <input type="text" name="nome"
    placeholder="Digite o nome" />
  <br/>
  <input type="text" name="sobrenome"
    placeholder="Digite o sobrenome" />
  <br/>
  <select name="sexo">
    <option value="">Selecione o sexo</option>
    <option value="F">Feminino</option>
    <option value="M">Masculino</option>
  </select>
  <br/>
  <input type="submit" value="Salvar"/>
</form>
