@charset "UTF-8";

body{
   /*background-image: url("../imagens/geografiac.jpeg");*/
    background-color: rgba(53, 130, 134, 0.2);
   
  
}
p {
                text-align: justify;
                text-indent: 50px;    
            }
/*tela login*/
#usuario{
    width: 400px;
    height: 350px;
     /*background-image:linear-gradient(#11B414,#133163);*/
background-color: rgba(51, 20, 29, 0.2);
 margin-top: 100px;
    font-size: 16pt;
    padding: 40px;
    border-width: 6px;
  border-style: ridge;
  border-color: #689b9e;
  border-right-width: 10px;
}
#nomet{
    color: #13383a;
}

div{
    /*text-align-last: center;*/
    
}
#nome{
    width: 250px;
    height: 40px;
    font-size: 14pt;
    text-align: center;
}
#mapa{
    
    width: 700px;
    height: 600px;
    background: greenyellow;
}
/* botão */
#iniciar{
    
}
/*tela inicial*/
#opcoes{
     width: 650px;
    height: 400px;
    background-image:linear-gradient(#11B414,#133163);
    margin-top: 70px;
    font-size: 12pt;
    padding: 40px;
    box-shadow: 3px 3px 3px 3px black;
    
}
.bt{
    width: 120px;
    height: 70px;
}

#esf{
    text-align: center;
}
/*#regiao{
    background-image: url("../imagens/regioes.jpg");
}
tela região norte*/ 
#norte{
    
  /*  background-image: url("../imagens/relevob.jpg"); */
}
#nor{
    
     width: 850px;
    height: 700px;
    margin: auto;
    font-size: 14pt;
    padding: 40px;
    background-image:linear-gradient(#11B414,#133163);
    box-shadow: 3px 3px 3px 3px black;
    background: rgba(162, 205, 90, 0.3);
        
}
.legenda{
    text-align: center;
    font-family: serif;
    font-size: 10pt;
}
#norteClima{
  /*   background-image: url("../imagens/clima1.jpg");*/
}
#nortevegetacao{
  /*    background-image: url("../imagens/vegetavv.jpg");*/
}
#nortees{
   /* background-image: url("../imagens/regiao_nortees.jpg");*/
}
/*Questionário da aplicação*/
#questionario{
    
     width: 850px;
    height: 700px;
    margin: auto;
    font-size: 14pt;
    padding: 40px;
    background-image:linear-gradient(#11B414,#133163);
    box-shadow: 3px 3px 3px 3px black;
    background: rgba(162, 205, 90, 0.3);

    
    /*width: 700px;
    height: 600px;
    border: solid;
    border-color: black;
    margin-top: 3%;
    margin-left: 25%;*/
}
h1{
    text-align-last: center;
}
.rolagem{
    overflow:scroll;
    height:80px;
    width:100%;
    overflow:auto;

    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #dddddd; 
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 20px; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #5d5e60;
    }
}


#inicio{
    width: 500px;
    height: 500px
    background-color: ;
    margin-top: 7%;
    margin-right: 13%;


    
}
#inic{
    background: white;
}
#cabecalho{
    background: rgba(0, 0, 0, 0.9);
    height: 45px;
}
#nomec{
    height: 50px;
}
#botaoca{

    margin-top: 20px;
}
.btn{
    margin-left: 200px;
}
