!--
Este é o arquivo
./views/pages/pessoa/new.ejs
-->
<h1>Novo usuario</h1>
<form action="/pessoa/save" method="POST">
  <input type="text" name="nome"
    placeholder="Digite o nome" />
  <br/>
  
  <input type="submit" value="Salvar"/>
</form>
